@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --background-colour: #1E1E1E;
    --font-primary-colour: #FEFFFF;
    --primary-colour: #BA0BF9;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    color: var(--font-primary-colour);
}

body {
    background-color: var(--background-colour);
    /* width: fit-content; */
    padding: 80px;
}

/* .main-div {
    width: 100%;
} */

/* .banner-page {
    padding: 80px;
} */

.nav {
    display: flex;
    justify-content: space-between;
}

.left {
    color: #FD6F00;
    font-weight: 700;
    /* padding-left: 20px; */
}

.right {
    display: flex;
    /* gap: 10px; */
    justify-content: space-between;
}

#option {
    padding: 10px;
}

.cv {
    background-color: #FD6F00;
    padding: 10px;
    /* padding: 10px;
    font-size: 12px;
    margin-bottom: 0px; */
}

/* .banner-container{
    margin-top: 50px;
} */

.banner-left {
    margin-top: 150px;
    font-weight: 800;
    font-size: 40px;
}

.heading {
    display: flex;
    gap: 10px;
    /* padding-top: 10px; */
    /* justify-content: space-between; */
}

#star {
    width: 35px;
    height: 35px;
}

#khulna {
    color: #FD6F00;
}

#description {
    font-size: 18px;
    font-weight: 400;
    font-weight: lighter;
    padding-bottom: 20px;
}

.title {
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
    font-size: 24px;
    font-weight: 300;
    padding-bottom: 10px;
}

.choice {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 300px;
    height: 60px;
    display: flex;
    background-color: #FFFFFF1A;
    border-radius: 100px;
}


.portfolio-icon p {
    font-size: 17px;
    padding-top: 10px;
}

#hire {
    font-size: 17px;
    padding-top: 20px;
    padding-left: 50px;
    font-weight: 400;
}

.check-icon {
    width: 25px;
    height: 35px;
    /* padding: 0px 10px; */
    /* margin-bottom: -20px; */
    margin-left: -10px;
}

.portfolio-icon {
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    background-color: #FD6F00;
    border-radius: 100px;
    padding-right: 20px;
    margin-left: 10px;
}

.banner-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.about {
    padding: 60px 0px;
}

#title {
    font-size: 40px;
    font-weight: 800;
}

#description {
    font-size: 18px;
    font-weight: 400;
}

#social {
    height: 55px;
    width: 55px;
}

.social-icons {
    width: 205px;
    height: 32px;
    display: flex;

}

#pic {
    height: 350px;
    width: 500;
    background-color: #FD6F001A;
    border-radius: 50%;
}

.picture {
    margin-top: 120px;
    margin-right: 180px;
    /* width: 600px;
    height: 600px;  */
}

.final-banner {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.last {
    padding: 60px 0px;
}

#year {
    /* width: 190px; */
    /* height: 47px; */
    font-size: 40px;
    font-weight: 700;
}

#exp {
    font-size: 20px;
    font-weight: 400;
    text-align: center-top;
}

/* End of Header & Banner Section. */

.experience-container {

    padding: 0px;
    margin: 0px;
    /* padding: 100px; */
    background-image: linear-gradient(to bottom right, rgba(255, 178, 71, 0.112), rgba(255, 107, 99, 0.112), rgba(184, 106, 223, 0.1));
}

.experience-container {
    display: flex;
    justify-content: space-between;
}

.experience-details {
    padding-top: 80px;
    padding-left: 70px;
}

#experience-title {
    font-size: 40px;
    font-weight: 700;
}

#experience-desc {
    padding-top: 10px;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
}

.designer-container {
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 30px;
}


.top {
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    /* margin-top: 50px; */
}

.bottom {
    font-size: 40px;
    font-weight: 700;
}

.first,
.second,
.third {
    border-bottom: 1px solid white;
    border-left: 10px;
    padding: 20px 0px;
}

/* End of experience container. */

/* .awards-page {
    padding: 80px;
} */


.awards-heading {
    margin-top: 60px;
    text-align: center;
}

.first-award {
    padding: 40px;
    background-color: black;
    margin: 60px 100px;
}

.reason {
    display: flex;
    justify-content: space-between;
}

.second-award {
    padding: 40px;
    background-color: black;
    margin: 60px 100px;
}

/* End of Awards Section. */


/* .portfolio-container {
    padding: 0px 80px;
} */

.portfolio-heading {
    margin-top: 60px;
    text-align: center;
}

.top-side {
    display: flex;
    justify-content: space-between;
    padding: 0px 80px;
}

.bottom-side {
    display: flex;
    justify-content: space-between;
    padding: 0px 80px;
}

.icons-design2 {
    background-color: #FD6F00;
    padding: 10px;
}

.icons-design1,
.icons-design3,
.icons-design4 {
    padding: 10px;
    background-color: black;
}

.portfolio-icons {
    padding: 0px 150px;
    margin-top: 40px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.portfolio-details,
.bottom-side {
    margin-top: 50px;
}

.first-line,
.second-line,
.third-line {
    padding: 10px 0px;
}

.portfolio-desc {
    margin-top: 50px;
}

.first-line {
    font-style: italic;
    font-weight: 400;
}

/* End of Portfolio Section. */

/* .footer-page {
    padding: 0px 150px;
} */

.footer-header {
    margin-top: 100px;
    text-align: center;
}

.footer-form {
    margin-top: 40px;
    background-color: #FD6F001A;
    padding: 40px 100px;
}

input[type=text] {
    width: 100%;
    padding: 12px 0px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background: none;
    border-bottom: 1px solid;
}


input[type=email] {
    width: 100%;
    padding: 12px 0px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background: none;
    border-bottom: 1px solid white;
}

input[type=message] {
    width: 100%;
    padding-bottom: 50px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background: none;
    border-bottom: 1px solid white;
}

.form-top {
    display: flex;
    justify-content: space-between;
    gap: 420px;
    margin-bottom: 20px;
}

.line {
    border: none;
    border-top: 2px solid black;
}

.footer-details {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.attach {
    margin-top: 10px;
    display: flex;
}